[user]
  name = "Sándor Lukácsi"
  email = sandor-bendeguz.lukacsi@capgemini.com
  signingkey = sandor-bendeguz.lukacsi@capgemini.com
[branch]
  autosetuprebase = always
[merge]
  ff = false
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"
[core]
  editor = nvim
[difftool]
  prompt = true
  autocrlf = input
  ignorecase = true
[alias]
  ci = commit
  co = checkout
  st = status
  fa = log --all --decorate --oneline --graph
[commit]
  gpgsign = true
